* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
}
 
.hanglamb{
  
     height: 150px;
    left: 50%;
    overflow: visible;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: -10px;
    width: 100%;
    z-index: 999;
    animation: swing 4s ease-in-out infinite;
}

@keyframes swing {
    0%   { transform: translateX(-50%) rotate(0deg); }
    50%  { transform: translateX(-50%) rotate(1deg); }
    100% { transform: translateX(-50%) rotate(0deg); }
}



.backgroundvideo{
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    height:100%;
    object-fit: cover;
    filter: blur(5px) brightness(0.6);
    z-index: -1;
    pointer-events: none;
    
}


.topheader{
       align-items: center;
    color: #fff;
    display: flex;
    font-size: 0.8rem;
    justify-content: space-between;
    width: 80%;
    z-index: 999;
    position: absolute;
    
    left: 12%;
    height: 10%;
    
  
}

.email{
   
  position: relative;
  left: -27%;
  
   
}
.boldemail {
  font-weight:500; 
  cursor: pointer;
}
.boldemail:hover{
    color: #FFA726;
}
.boldphone {
  font-weight:500;
  cursor: pointer; 
}
.boldphone:hover{
    color: #FFA726;
}
.clock{
    position:absolute;
    left: 60%;
    
}
.soicons{
    font-size: 1rem;
    position: relative;
    left: -10%;
}
.soicons i {   
    color: #ffffff;   
    transition: color 0.6s ease tranform 0.7s; 
    cursor: pointer;
    background-size: 50px;
    padding: 10px 15px;
    border-radius: 50%;
    position: relative;
    justify-content: space-between;
    
    
    
}
.soicons i:hover {
    color: #ff0000; 
    background-color: white;
     transform: translateY(-4px);
    transition: 0.3s;
      
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(16, 0, 78, 0.215);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  padding: 20px 50px;
  border-radius: 15px;
  position: absolute ;
  top: 10%;
  left: 10%;
  width: 80%;
  z-index: 999;
 
}

.logo {
  width: 120px;
}

.logo img {
  width: 70%;
  height: auto;
}


.navname {
  display: flex;
  justify-content: space-between;
  gap: 75px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  
}
  
.navname a {
  color: white;
  text-decoration: none;
  position: relative;
  transition: 0.3s ease;
  
}

.navname a:first-child {
  color: #FFA726;
}

.navname a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -4px;
  width: 0;
  height: 2px;
  background: #FFA726;
  transition: width 0.4s ease, left 0.4s ease;
  transform: translateX(-50%);
}

.navname a:hover {
  color: #FFA726;
  transform: translateY(-2px);
}

.navname a:hover::after {
  width: 80%;
}

.hero {
  display: flex;
  justify-content: center;
  gap: 100px;
  padding: 30px ;
  position: absolute;
  left: 10%;
  top:25%;
  padding-right: 100px;
  width: 80%;
  height: 34%;
   
  
}

.logo1 {
  width: 350px; 
  
  position: relative;
  top: 50%
}

.logo1 img {
  width: 100%;
  height: auto;
  position: relative;
  
}

.container {
  color: white;
  max-width: 700px;
 
  padding-left: 20px;
  
}

.head1 {
  font-family: "Poppins", sans-serif;
  font-size: 1.9rem;
  letter-spacing: 4px;
  position: fixed;
  display: flex;
  
}

.headcontent {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  line-height: 1.rem;
  letter-spacing: 0.6px;
  position: absolute;
  display: flex;
  
  margin-top: 9%;
}

.containerb {
    display: flex;
    gap: 25px;
    justify-content: center;
    position: absolute;
    top: 60%; 
    left: 42%;
    
}


.button1 {
    background-color: #FFA726;
    width: 200px;
    height: 60px;

    display: flex;                
    align-items: center;
    justify-content: center;
    gap: 10px;                    
    font-family: system-ui, sans-serif;
    font-weight: 500;
    letter-spacing: 1px;

    border-radius: 50px;
    cursor: pointer;
    border: none;

    transition: transform 0.45s ease, box-shadow 0.45s ease;
    box-shadow: 0 0 10px #ffb30080;
    overflow: hidden;

             
}


.button1::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background-color: #ffc164; 
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: width 0.20s ease, height 0.20s ease;
    z-index: -1;
}

.button1:hover::before {
    width: 100%;
    height: 180%;
}
.button1:not(:hover)::before {
    transition: none;
}    
.button1:hover {
    transform: translateY(-10px);
    
}

.button2 {
    width: 250px;
    height: 60px;

    display: flex;              
    align-items: center;
    justify-content: center;
    gap: 10px;                   

    font-family: system-ui, sans-serif;
    font-weight: 500;
    font-size: 0.9rem;           

    letter-spacing: 0.1rem;

    border-radius: 50px;
    border: 2px solid #757575;   
    background: transparent;
    color: white;

    cursor: pointer;

    transition: background-color 0.35s ease,
                color 0.35s ease,
                transform 0.45s ease;

         
}


.button2:hover {
    border-color: #ffc164;
    color: #ffc164;
    transform: translateY(-10px);
}


.meffect {
    position: absolute;
    display: flex;
    bottom: 20px;          
    left: 50%;
    transform: translateX(-50%);
    
    
    flex-direction: column;
    align-items: center;
    
}

.mlogo {
    width: 80px;
    margin-top: 8px;
}

.mtext {
    color: white;
    letter-spacing: 4px;
    opacity: 0.6;
    font-size: 14px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.stext{
  display: none;
}
@media (max-width:700px)
{
   .topheader{
    display: none;
   }
   header{
    display: none;
   }
   .headcontent{
    display: none;
   }
   .logo1{
    width: 180px;
    
    position: relative;
   
    top: 20px;
    left: 25%;
   }
   .container{
   
    top: 170px;
    left: 10%;
    
    
    
    
    position: absolute;

   }
   .head1{
    font-size: 1rem;
    letter-spacing: 3px;
    
   }
   .containerb{
    
    position: fixed;
    height: 200px;
    margin-top: 1%;
    left: 70px;
    width: 70%;
    
   }
   .button2{
    position: absolute;
    
    width: 85%;
    top: 40%;
    ;
   }
   .button1{
    position: absolute;
    width: 70%;
    left: 15%;
   }
   .meffect{
    display: none;
   }
   .stext{
    position: absolute;
    color: #ffffff;
    display: flex;
    top: 53%;
    left:90px
   }
}
@media (max-width: 1000px)
{
  .topheader{
    width: 80%;
    
  }
  .phone{
    position:relative;
    font-size: 0.7rem;
  }  
    .email{
      padding-left: 150px;

    }
  .soicons{
    left: 10px;
  }
  .logo{
    width:100px;
  }
  .headcontent{

  padding-top: 10px;
  }
  
}